@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
  }

body {
    background-color: #F1FAEE;
    scroll-behavior: smooth;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    color: #457B9D;
}

h1, h2, h3, h4, h5, h6 {
    color: #1D3557;
}

.jumbotron {
    background-color: #A8DADC;
    text-align: center;
    padding: 3rem 2rem;
    border-bottom: solid 1px #1D3557;
}

.jumbotron a {
    color: #1D3557;
}

.wrap {
    font-size: 40px;
    padding: 5px;
    font-weight: 700;
}

.newsImage {
    width: 100%;
    height: 100%;
}

.left {
    text-align: left;
}

.main {
    margin-bottom: 100px;
}

.navbar {
    background-color: #457B9D;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #A8DADC;
    color: black;
}

.navbar .right {
    float: right;
}

.column {
    display: flex;
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(29, 53, 87, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F1FAEE;
}

section {
    margin-top: 5%;
}

.alert {
    text-align: center;
}

.verify-form {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: block;;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #F1FAEE;
    color: #1D3557;
}

.google {
    box-shadow: 0 4px 8px 0 rgba(29, 53, 87, 0.2);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.google a {
    color: #1D3557;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}